div.image-Description{
    position: relative;
    top: 70px;
    left: 60px;
}
body {
    background-image: url("carBackGround.jpg");
}
select.select {
    position: relative;
    top: 60px;
    left: 50px;
    width: 400px;
}

h1.h1 {
    position: relative;
    left: 80px;
    color: wheat
}